### Step 1. Import libraries and datasets

In [39]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [40]:
# Create path - Shortcut for Importing Data Files
path = r'C:\Users\sanch\Documents\Instacart Basket Analysis'

In [41]:
# Import ords_prods_merge.pkl dataset
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

### Step 2. Apply a user-defined function to derive a new variable 'price_label'

In [42]:
# Create a subset
df = ords_prods_merge[:1000000]

In [43]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [44]:
# Define a function named price_label
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [45]:
# Run 'prince_range' function on the subet
df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\sanch\AppData\Local\Temp\ipykernel_21632\3895886263.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [46]:
# Print the frequency of 'price_range' column
df['price_range'].value_counts(dropna = True)

price_range
Mid-range product    673183
Low-range product    314392
High range            12425
Name: count, dtype: int64

In [47]:
# Find the max value in 'prices' column
df['prices'].max()

99999.0

### Step 3. Use if-statement with the loc() function to derive a new variable 'price_range_loc'

#### Define 'High-range product', 'Mid-range product', & 'Low-range product' for the **subset**

In [48]:
df.loc[df['prices'] > 15, 'price_range'] = 'High-range product'

In [49]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range'] = 'Mid-range product'

In [50]:
df.loc[df['prices'] <= 5, 'price_range'] = 'Low-range product'

In [51]:
# Inspect the distribution of values in the new variable 'price_range'
df['price_range'].value_counts(dropna = True)

price_range
Mid-range product     673183
Low-range product     314392
High-range product     12425
Name: count, dtype: int64

#### Define 'High-range product', 'Mid-range product', & 'Low-range product' for the **dataframe**

In [52]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [53]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [54]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [55]:
# Generate a frequency table of the new variable 'price_range'
ords_prods_merge['price_range_loc'].value_counts(dropna = True)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [56]:
ords_prods_merge = ords_prods_merge.rename(columns={'order_dow': 'orders_day_of_week'})

### Step 4. Use if-statements with for-loops to derive a new variable

#### 1. Derive a new variable **'busiest day'**

In [57]:
# Define 'Busiest day', 'Slowest day' & 'Regularly busy'

result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [58]:
# Take the "result" list as a new column "busiest day" in dataframe
ords_prods_merge['busiest day'] = result

In [59]:
# Generate a frequency table of the new "busiest day" column
ords_prods_merge['busiest day'].value_counts(dropna = False)

busiest day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [60]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy

#### 2. Derive a new variable **'busiest days'**

In [61]:
# Identify the range for 'Busiest days', 'Slowest days' and "Regularly busy"
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [62]:
# Define 'Busiest days', 'Slowest days', and 'Regularly busy'

result_1 = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0 or value == 1:
   result_1.append("Busiest days")
  elif value == 3 or value == 4:
    result_1.append("Slowest days")
  else:
    result_1.append("Regularly busy")

In [63]:
# Take the "result_1" list as a new column "busiest days" in dataframe
ords_prods_merge['busiest days'] = result_1

In [64]:
# Print the frequency of new "busiest days" column
ords_prods_merge['busiest days'].value_counts(dropna = False)

busiest days
Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: count, dtype: int64

### 3. Derive a new variable **'busiest_period_of_day'**

In [65]:
# Generate a frequency table of 'Most orders', 'Fewest orders', and 'Average orders'
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [66]:
# Take the "result_2" list as a new column "busiest_period_of_day" in dataframe

result_2 = []

for value in ords_prods_merge["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
   result_2.append("Most orders")
  elif value in [3, 4, 2, 5, 1, 0, 6, 23]:
    result_2.append("Fewest orders")
  else:
    result_2.append("Average orders")

In [67]:
ords_prods_merge['busiest_period_of_day'] = result_2

In [68]:
# Print the frequency of the new 'busiest_period_of_day' column
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

In [69]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders

In [70]:
# Export data to pkl given the file size
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_updated.pkl'))